.button {
  cursor: pointer;
  margin: 2px 3px;
  padding: 10px 12px;
  font-weight: bold;
  background-color: blue;
  color: white;
}

.button:hover {
  background-color: darkblue;
}

.button:active {
  background-color: lightblue;
}

.user-box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.user {
  margin: 2px;
  padding: 3px;
  background-color: lightblue;
}

.user--selected::after {
  content: " x";
}